<fieldset class='feature-description tabs'>
    <legend>Benefits</legend>
    {{#each grantedFeatures as |grantedFeature|}}
        <div class='grantedFeatures'>
            <div class='name'>
                {{grantedFeature.name}}
            </div>
            <div class='delete-granted-feature delete-button' data-action='deleteBenefit' data-granted-feature-index='{{@index}}'>
                <i class='fa-solid fa-trash' data-tooltip-direction='RIGHT' data-tooltip='{{localize "system.sheets.items.feature.deleteBenefit"}}'></i>
            </div>
        </div>
    {{/each}}
    <br /><br />
    <div class='feature-drop'>
        Drop Features HERE
    </div>
</fieldset>