.sheet.taunted-config .item {
    display: grid;
    grid-template-columns: 1fr 1fr 20px;
    grid-gap: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.sheet.taunted-config .mcdmrpg-header .add {
    cursor: pointer;
}

.sheet.taunted-config .mcdmrpg-header .add:hover {
    color: var(--add-color);
}
