<form>
    {{> "systems/mcdmrpg/templates/documents/partials/item-header.hbs"}}

    {{> "systems/mcdmrpg/templates/documents/ancestry/ancestry-size.hbs"}}

    {{> "systems/mcdmrpg/templates/documents/ancestry/ancestry-details.hbs"}}

    {{> "systems/mcdmrpg/templates/documents/ancestry/ancestry-description.hbs"}}
</form>