<form>
    {{> 'systems/mcdmrpg/templates/documents/monster/header.hbs'}}

    {{> 'systems/mcdmrpg/templates/documents/partials/actor-characteristics.hbs'}}
    
    <div class='monster-body'>

        {{> 'systems/mcdmrpg/templates/documents/monster/skills.hbs'}}

        {{> 'systems/mcdmrpg/templates/documents/partials/abilities-container.hbs'}}
    </div>
</form>