.mcdmrpg.sheet.edit-skills .skills {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.mcdmrpg.sheet.edit-skills .skills .skill-name input {
    width: 100px;
}

.mcdmrpg.sheet.edit-skills .skills .skill,
.mcdmrpg.sheet.edit-skills .skills .skills-header {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr auto 20px;
    align-items: center;
    padding: 5px 0px;
}

.mcdmrpg.sheet.edit-skills .skills .skill:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05);
}

.mcdmrpg.sheet.edit-skills .skills .add-skill {
    width: calc(50% - 5px);
}

.mcdmrpg.sheet.edit-skills .skills .skill .subskill input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mcdmrpg.sheet.edit-skills .skills .skill .roll-skill:hover,
.mcdmrpg.sheet.edit-skills .skills .skill .delete-skill:hover {
    cursor: pointer;
}

.mcdmrpg.sheet.edit-skills .skills .skill .delete-skill {
    justify-content: right;
}

.mcdmrpg.sheet.edit-skills .skills .skill .delete-skill:hover {
    color: red;
}
