.sheet.actor .effects-tab .effect {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0px;
}

.sheet.actor .effects-tab .effect:nth-child(odd) {
    background-color: var(--alternating-bg-color);
}

.sheet.actor .effects-tab .conditions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-bottom: 5px;
}

.sheet.actor .effects-tab .conditions .condition {
    padding: 5px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
}

.sheet.actor .effects-tab .conditions .condition .toggle-condition {
    text-align: right;
}
