.sheet.skill-config .tabs {
    margin-bottom: 10px;
}

.sheet.skill-config .skill {
    display: grid;
    grid-gap: var(--grid-gap);
    padding: 10px;
    align-items: center;
}

.sheet.skill-config .skill:nth-child(odd):not(:first-child) {
    background-color: var(--alternating-bg-color);
}

.sheet.skill-config .skills .skill {
    grid-template-columns: 1fr 1fr 60px 50px;
}

.sheet.skill-config .category-custom-skills .add-skill button {
    width: 100%;
}

.sheet.skill-config .category-custom-skills .skill {
    grid-template-columns: 1fr 1fr 2fr 60px 50px 20px;
}

.sheet.skill-config .skill .skill-proficiency,
.sheet.skill-config .category-custom-skills .skill .skill-delete {
    justify-self: center;
}
