<div class='header roll-dialog-section'>

    <div class='mcdmrpg-header'>
        {{localize (concat 'characteristics.' characteristic '.label')}}-{{localize (concat 'skills.' skill '.label')}}
        {{#if subskill}} ({{subskill}}){{/if}}
        Test
    </div>

    {{#if tn}}<div class='tn'>TN: {{tn}}</div>{{/if}}

</div>