<div class='details-tab tab {{ifThen (eq activeTabs.main "details") "active" ""}}' data-group='main' data-tab='details'>
    {{> 'systems/draw-steel/templates/documents/career/career-info.hbs'}}
    {{> 'systems/draw-steel/templates/documents/career/career-incidents.hbs'}}
    {{> 'systems/draw-steel/templates/documents/career/career-skill-choices.hbs'}}
</div>