<div class='edit-languages'>

    <multi-checkbox name='system.languages' value='{{source.system.languages}}' class='actor-languages'>
        {{selectOptions languages selected=source.system.languages localize=true}}
    </multi-checkbox>
</div>