<div class='header'>
    {{#if isEditable}}
        {{> 'systems/draw-steel/templates/documents/actor/monster/header-edit.hbs'}}
    {{else}}
        {{> 'systems/draw-steel/templates/documents/actor/monster/header-view.hbs'}}
    {{/if}}
</div>