<div class='header'>
    <button data-action='toggleMode'>Change Mode - Current Mode: {{ifThen isEditable 'Edit' 'View'}}</button>
    {{#if isEditable}}
        {{> 'systems/mcdmrpg/templates/documents/actor/monster/header-edit.hbs'}}
    {{else}}
        {{> 'systems/mcdmrpg/templates/documents/actor/monster/header-view.hbs'}}
    {{/if}}
</div>