<form>
    {{> "systems/mcdmrpg/templates/documents/partials/item-header.hbs"}}

    {{> "systems/mcdmrpg/templates/documents/class/class-resources.hbs"}}

    {{> "systems/mcdmrpg/templates/documents/class/class-details.hbs"}}
</form>
