<div class="mcdmrpg-header">
    {{ localize 'mcdmrpg.skills.label.plural'}}
    <span class="edit-skills">
        <i class="fa-regular fa-pencil" data-tooltip="Edit {{ localize 'mcdmrpg.skills.label.plural'}}"></i>
    </span>
</div>

<div class="skill-list">
    {{#each skills as |skill|}} 
        {{#if (or (eq @key "craft") (eq @key "knowledge"))}} 
            {{#each skill as |subskill| }} 
                {{> "systems/mcdmrpg/templates/documents/actors/hero/partials/skill.hbs" 
                skillData=subskill skill=subskill.subskill characteristics=../../characteristics 
                prefix=@../key index=@index special=true}} 
            {{/each}} 
        {{else}} 
            {{> "systems/mcdmrpg/templates/documents/actors/hero/partials/skill.hbs" 
            skillData=this skill=@key characteristics=../characteristics}}
        {{/if}} 
    {{/each}}
</div>