.sheet.item.kit .kit-trait {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-gap: 5px;
    margin-bottom: 5px;
    align-items: center;
}
.sheet.item.kit .kit-property {
    text-align: right;
}
