<form>
    <input type='text' name='name' value='{{name}}' />
    <span class='add-effect'>Add Effect</span>
    {{#each effects as |effect|}}
        <div>
            <div>{{effect.name}}</div>
            <div class='edit-effect' data-effect-id='{{effect.id}}'>Edit</div>
            <div class='delete-effect' data-effect-id='{{effect.id}}'>Delete</div>
        </div>
        <br /><br />
    {{/each}}
</form>