.sheet.actor.hero.system .details-tab.active {
    .main-details {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;

        .creation,
        .size-and-speed {
            & > div:not(.draw-steel-header) {
                display: grid;
                grid-template-columns: 70px 1fr;
            }
        }
    }
}
