/* Character Info */
.sheet.actor.hero .header .character-info {
    display: grid;
    grid-template-columns: 1fr 75px 75px;
}
.sheet.actor.hero .header .character-info input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
.sheet.actor.hero .header .character-info input:focus {
    box-shadow: 0 0px 5px black;
}

/* Characteristics */
