@import url('sidebar.css');
@import url('header.css');
@import url('skills.css');
@import url('effects.css');

/* Define Sheet Layout Via Grid */
.sheet.actor.hero .window-content {
    display: grid;
    grid-template-columns: 200px 250px repeat(8, auto);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    max-height: 1054px;
}

.sheet.actor.hero .sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 11;
}

.sheet.actor.hero .header {
    grid-column: 2 / 11;
    grid-row: 1 / 2;
}

.sheet.actor.hero .skills {
    grid-column: 2 / 3;
    grid-row: 2 / 11;
}

.sheet.actor.hero .tabbed-content {
    grid-column: 3 / 11;
    grid-row: 2 / 11;
    max-height: 931px;
}
/*     */

.sheet.actor.hero .sidebar > div,
.sheet.actor.hero .main-content > div {
    margin-bottom: 10px;
}

.sheet.actor.hero .tabbed-content .tab {
    max-height: 897px;
}
.sheet.actor.hero .tabbed-content .sheet-tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    margin-bottom: 5px;
}
.sheet.actor.hero .tabbed-content .sheet-tabs a {
    justify-self: center;
    padding: 5px 0px;
}
.sheet.actor.hero .tabbed-content .sheet-tabs a.active {
    border-bottom: 2px solid black;
}

.sheet.actor.hero div.actor-abilities .abilities-list {
    overflow-y: scroll;
    max-height: 663px;
}
