@import url('sidebar.css');
@import url('header.css');
@import url('abilities.css');
@import url('skills.css');

.sheet.actor.hero .actor-sheet {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 10px;
}

.sheet.actor.hero .sidebar > div,
.sheet.actor.hero .main-content > div {
    margin-bottom: 10px;
}

.sheet.actor.hero .main-content .content-body {
    display: grid;
    grid-template-columns: 250px auto;
    grid-gap: 10px;
}

.sheet.actor.hero .main-content .tabbed-content {
    overflow-y: scroll;
}
