.sheet.system.hero .items-tab {
    .items {
        overflow-y: scroll;
    }
    .item {
        display: grid;
        grid-template-columns: 1fr 100px 50px 50px;
        padding: 5px 0px 5px 5px;

        &:nth-child(even) {
            background-color: var(--alternating-bg-color);
        }

        div:not(.name) {
            justify-self: center;
        }

        div.sub-items {
            grid-column: 1 / 5;
            width: 100%;
            padding: 5px 0px 5px 10px;
        }
    }
}
