.sheet.actor.hero .sidebar > div,
.sheet.actor.hero .sidebar .resources .resource {
    margin-bottom: 5px;
}

.sheet.actor.hero .sidebar .portrait img {
    width: 100%;
}

.sheet.actor.hero .sidebar .hp .hp-values,
.sheet.actor.hero .sidebar .recoveries .recoveries-values,
.sheet.actor.hero .sidebar .resources .resource.has-max {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5px;
}

.sheet.actor.hero .sidebar .hp .hp-values .current input,
.sheet.actor.hero .sidebar .recoveries .recoveries-values .current input,
.sheet.actor.hero .sidebar .resources .resource .resource-current input {
    height: 100%;
    font-size: 2rem;
}

.sheet.actor.hero .sidebar .hp .hp-values input,
.sheet.actor.hero .sidebar .hp .hp-values .other-hp > div div,
.sheet.actor.hero .sidebar .recoveries .recoveries-values input,
.sheet.actor.hero .sidebar .recoveries .recoveries-values .other-recoveries > div div,
.sheet.actor.hero .sidebar .resources .resource .resource-current input,
.sheet.actor.hero .sidebar .resources .resource .resource-max {
    text-align: center;
}

.sheet.actor.hero .sidebar .hp .hp-values .other-hp .form-group {
    display: block;
}

.sheet.actor.hero .sidebar .resources .resource .resource-max {
    display: grid;
    align-items: center;
    grid-template-rows: auto 1fr;
}

.sheet.actor.hero .sidebar .actor-ack > div,
.sheet.actor.hero .sidebar .chance-hit,
.sheet.actor.hero .sidebar .size-values > div {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-gap: 5px;
}

.sheet.actor.hero .sidebar .actor-ack > div .label,
.sheet.actor.hero .sidebar .chance-hit .label,
.sheet.actor.hero .sidebar .size-values > div .label {
    text-align: right;
}

.sheet.actor.hero .sidebar .actor-ack > div {
    cursor: pointer;
}
