.sheet.actor.hero .tab.skills-tab {
    display: flex;
    flex-direction: column;
}

.sheet.actor.hero.system .skills-tab .skills {
    display: grid;
    overflow-y: auto;
    grid-gap: 5px;

    .category {
        .header {
            font-weight: bold;
            font-size: 1rem;
            position: sticky;
            top: 0;
            background-color: var(--background);
            padding: 5px;
            z-index: 1;
        }

        .skill.labels {
            font-weight: bold;
            margin-top: 5px;
        }
    }

    &.edit {
        grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));

        .category {
            background-color: var(--alternating-bg-color);
            padding: 5px;
            border-radius: 5px;

            &.category-customSkills {
                grid-column: 1 / -1;

                .header .right-button:hover {
                    color: var(--add-color);
                }

                .skill {
                    grid-template-columns: 1fr 1fr 2fr 60px 50px 20px;
                }
            }

            .skill {
                grid-template-columns: 1fr 1fr 60px 50px;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                .skill-proficiency,
                .skill-display,
                .delete-button {
                    align-self: center;
                    justify-self: center;
                }
            }
        }
    }

    &.view {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        .skill {
            grid-template-columns: 1fr auto;
            padding: 5px;

            &:nth-child(2n) {
                background-color: var(--alternating-bg-color);
            }

            &:hover {
                color: red;
                font-weight: bold;
                cursor: pointer;

                .skill-proficiency i {
                    animation: var(--icon-rotation);
                }
            }

            .skill-name {
                text-overflow: ellipsis;
            }
        }
    }

    .skill {
        display: grid;
        grid-gap: 5px;
    }
}
