.sheet.actor.hero .skill-list {
    overflow-y: auto;
    height: calc(100% - 20px);
}

.sheet.actor.hero .skills .skill-category .category-name {
    font-weight: bold;
    font-size: 1rem;
    position: sticky;
    top: 0;
    background-color: var(--background);
    padding: 5px;
    z-index: 1;
}

.sheet.actor.hero .skills .skill {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 5px 5px 5px 15px;
}

.sheet.actor.hero .skills .skill:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.2);
}

.sheet.actor.hero .skills .skill:hover {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.sheet.actor.hero .skills .skill:hover .skill-proficiency i {
    animation: var(--icon-rotation);
}
