<div class='character-info'>
    {{formInput actor.schema.fields.name value=actor.name localize=true}}
    {{formField fields.level value=actor.system.level localize=true}}
    {{formField fields.xp value=actor.system.xp localize=true}}
</div>

{{> 'systems/mcdmrpg/templates/documents/partials/actor-characteristics.hbs'}}