<div class='character-info'>
    {{formInput actor.schema.fields.name value=actor.name localize=true}}
    {{formField fields.level value=source.system.level localize=true}}
    {{formField fields.xp value=source.system.xp localize=true}}
</div>

<div class='characteristics'>
    {{#each fields.characteristics as |characteristic|}}
        {{formField characteristic value=(lookup @root.actor.system.characteristics characteristic.name) localize=true}}
    {{/each}}
</div>