<form>
    <div class="actor-sheet hero-sheet">
        <div class="sidebar">
            {{> "systems/mcdmrpg/templates/documents/hero/sidebar.hbs"}}
        </div>

        <div class="header">
            {{> "systems/mcdmrpg/templates/documents/hero/header.hbs"}}
        </div>

        <div class="skills">
            {{> "systems/mcdmrpg/templates/documents/hero/skills.hbs"}}
        </div>

        <div class="tabbed-content">
            <div class="sheet-tabs">
                <a class="nav-tab" data-tab="abilities">{{localize 'system.items.ability.label.plural'}}</a>
                <a class="nav-tab" data-tab="notes">Notes</a>
                <a class="nav-tab" data-tab="effects">{{localize 'system.general.effect.plural'}}</a>
            </div>
            <div class="tab" data-tab="abilities">
                <div class="hero-abilities actor-abilities">
                    <div class="mcdmrpg-header">
                        {{localize 'system.items.ability.label.plural'}}
                        <span class="add-ability">
                            {{localize 'system.sheets.actor.abilities.add'}}
                        </span>
                    </div>
                    <div class="abilities-filter">
                        {{> 'systems/mcdmrpg/templates/documents/partials/abilities-filter.hbs'}}
                    </div>
                    <div class="abilities-list">
                        {{> 'systems/mcdmrpg/templates/documents/partials/abilities.hbs'}}
                    </div>
                </div>
            </div>
            <div class="tab" data-tab="notes"></div>
            <div class="tab effects-tab" data-tab="effects">
                {{> 'systems/mcdmrpg/templates/documents/hero/effects.hbs'}}
            </div>
        </div>
    </div>
</form>
