<div class='skill' data-action='rollSkill' data-skill='{{skill}}' data-subskill='{{subskill}}'>
    <div class='skill-name'>
        {{localize (concat 'system.skills.' skill '.label')}}
        {{#if subskill}}({{subskill}}){{/if}}
    </div>
    <div class='skill-proficiency'>
        {{#if skillData.proficient}}+1d4 {{/if}}
        <i class='fa-light fa-dice-d6'></i>
        <i class='fa-regular fa-dice-d6'></i>
    </div>
</div>