<div class="tabbed-content">
    <div class="sheet-tabs tabs" data-group="main">
        <a class="nav-tab" data-action="tab" data-group="main" data-tab="abilities">{{localize 'system.items.ability.label.plural'}}</a>
        <a class="nav-tab" data-action="tab" data-group="main" data-tab="notes">{{localize 'system.sheets.actor.notes'}}</a>
        <a class="nav-tab" data-action="tab" data-group="main" data-tab="effects">{{localize 'system.general.effect.plural'}}</a>
    </div>
    <div class="tab" data-group="main" data-tab="abilities">
        {{> 'systems/mcdmrpg/templates/documents/partials/actor-abilities-container.hbs'}}
    </div>
    <div class="tab" data-group="main" data-tab="notes"></div>
    <div class="tab effects-tab" data-group="main" data-tab="effects">
        {{> 'systems/mcdmrpg/templates/documents/hero/effects.hbs'}}
    </div>
</div>