<div class='{{actor.type}}-abilities actor-abilities tab abilities-tab {{ifThen (eq activeTabs.main "abilities") "active" ""}}' data-group='main' data-tab='abilities'>
    <div class='mcdmrpg-header'>
        {{localize 'system.items.ability.label.plural'}}
        <span class='add-ability right-button' data-action='addAbility'>
            {{localize 'system.sheets.actor.abilities.add'}}
        </span>
    </div>
    <div class='abilities-filter'>
        {{> 'systems/mcdmrpg/templates/documents/actor/partials/abilities/abilities-filter.hbs'}}
    </div>
    <div class='abilities-list'>
        {{> 'systems/mcdmrpg/templates/documents/actor/partials/abilities/abilities.hbs'}}
    </div>
</div>