.message .message-content .ability .ability-group-label {
    font-weight: bold;
}

.message .message-content .ability .ability-header {
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 5px;
}

.message .message-content .ability {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}

.message .message-content .target-roll .apply-damage-button,
.message .message-content .target-roll .apply-knockback-button {
    margin-top: 5px;
}

.message .message-content .target-roll .apply-damage-button.disabled,
.message .message-content .target-roll .apply-knockback-button.disabled {
    pointer-events: none;
}
