.message .message-content .actor {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    grid-gap: var(--grid-gap);
    font-size: 1.5rem;
}

.message .message-content .actor img {
    border: none;
}

.message .message-content > .target {
    margin-top: 5px;
}

.message .message-content .dice-total > span {
    position: absolute;
    font-size: smaller;
}

.message .message-content .dice-total span.dice-modifier {
    left: 5px;
}
.message .message-content .dice-total span.dice-tier {
    right: 5px;
}

.message .message-content .dice-total span.dice-tier.tier-modified-doubleEdge {
    color: blue;
}

.message .message-content .dice-total span.dice-tier.tier-modified-doubleBane {
    color: red;
}

.message .message-content .dice-total span.tier-modified-info {
    font-size: smaller;
    color: initial;
}

.message .message-content .target-roll {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.message .message-content .target-roll:not(:last-child) {
    margin-bottom: 5px;
}

.message .message-content .ability-info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.message .message-content .ability-info .keywords {
    flex-basis: 100%;
}
