.sheet.actor.monster .header .property {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    margin-bottom: 5px;
}

.sheet.actor.monster .header .property .label {
    text-align: right;
}
.sheet.actor.monster .header .name input {
    height: 50px;
    font-weight: bold;
    font-size: 2rem;
}

.sheet.actor.monster .header .group-and-level {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sheet.actor.monster .header .health-size-and-chance-hit {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 2px solid black;
}

.sheet.actor.monster .header .health {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sheet.actor.monster .header .size-and-chance-hit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sheet.actor.monster .header .size-and-chance-hit .size .value {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 5px;
}
.sheet.actor.monster .header .size-and-chance-hit .size .value input {
    width: 100%;
    text-align: center;
}

.sheet.actor.monster .header .size-and-chance-hit .size .width input {
    width: 100%;
}

.sheet.actor.monster .header .size-and-chance-hit .size .value .separator {
    text-align: center;
}

.sheet.actor.monster .header .size-and-chance-hit .grapple-tn .label {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 2px;
}

.sheet.actor.monster .header .size-and-chance-hit .chance-hit,
.sheet.actor.monster .header .size-and-chance-hit .grapple-tn {
    grid-column-end: 3;
    grid-column-start: 1;
}

.sheet.actor.monster .header .characteristics {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
