.sheet.actor.monster {
    .header .header-row {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 5px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        & > :last-child {
            justify-self: right;
        }
    }

    .header .characteristics {
        display: grid;
        grid-template-columns: repeat(5, auto);
    }
    .header .stamina-iw {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .header .header-view {
        .name-level-role {
            color: black;
            font-weight: bold;
            height: 50px;
            grid-template-columns: 50px 1fr;
            font-size: 1rem;
            align-items: center;
            display: grid;

            .portrait,
            img {
                border: none;
                height: 50px;
            }

            &.ambusher-role {
                background-color: var(--ambusher-role);
            }
            &.boss-role {
                background-color: var(--boss-role);
            }
            &.artillery-role {
                background-color: var(--artillery-role);
            }
            &.brute-role {
                background-color: var(--brute-role);
            }
            &.controller-role {
                background-color: var(--controller-role);
            }
            &.defender-role {
                background-color: var(--defender-role);
            }
            &.harrier-role {
                background-color: var(--harrier-role);
            }
            &.hexer-role {
                background-color: var(--hexer-role);
            }
            &.support-role {
                background-color: var(--support-role);
            }
            &.mount-role {
                background-color: var(--mount-role);
            }
            &.solo-role {
                background-color: var(--solo-role);
            }

            .level-role {
                div {
                    display: inline;
                }
                padding-right: 5px;
            }
        }

        .stamina .value {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            grid-gap: 10px;
            align-items: center;
            text-align: center;
        }

        .size-other {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-gap: 5px;
        }

        .characteristics {
            align-items: center;
            justify-items: center;
        }
    }

    .header .header-edit {
        div.portrait-name-level-role {
            grid-template-columns: 100px 1fr;
            grid-gap: 5px;
            margin-top: 5px;

            .name-level-role {
                justify-self: normal;
            }

            .name {
                grid-template-columns: 1fr;
            }
            .type-level {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .role {
                display: grid;
                grid-template-columns: 1fr auto auto;
                grid-gap: 5px;
            }
        }

        div.speed-size-reach-stability {
            grid-template-columns: repeat(5, auto);
        }
    }
}
/*

.sheet.actor.monster .window-content {
    display: grid;
    grid-template-rows: auto auto auto auto repeat(6, 1fr);
    grid-gap: 10px;
}

/* Header */
/* Header - General Styles 
.sheet.actor.monster .header .property {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    grid-gap: 5px;
}

.sheet.actor.monster .header input,
.sheet.actor.monster .header .grapple-tn {
    text-align: center;
}

.sheet.actor.monster .header .name,
.sheet.actor.monster .header .role-and-level {
    margin-bottom: 5px;
}

.sheet.actor.monster .header .property .label {
    text-align: right;
}

/* Actor Basics
.sheet.actor.monster .header .actor-basics {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 5px;
}

.sheet.actor.monster .header .actor-basics .name {
    align-self: center;
}

.sheet.actor.monster .header .actor-basics .name input {
    height: 50px;
    font-weight: bold;
    font-size: 2rem;
}

/* Header Role and Level 
.sheet.actor.monster .header .role-and-level {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 5px;
    align-items: center;
}

.sheet.actor.monster .header .role-and-level .level .value {
    width: 50px;
    text-align: center;
}

/* Header Health and Size 
.sheet.actor.monster .header .stamina-size {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    grid-gap: 5px;
}

/* Header Health 
.sheet.actor.monster .header .stamina {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 5px;
}

.sheet.actor.monster .header .stamina .current-stamina,
.sheet.actor.monster .header .stamina .max-stamina {
    display: grid;
    grid-template-rows: auto 1fr;
}

.sheet.actor.monster .header .stamina .current-stamina input {
    height: 100%;
    font-size: 4rem;
}

.sheet.actor.monster .header .stamina .current-stamina > div {
    height: 100%;
}

.sheet.actor.monster .header .stamina .other-stamina {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

.sheet.actor.monster .header .stamina .other-stamina .winded .winded-value {
    font-size: 3rem;
}

/* Header Size 
.sheet.actor.monster .header .size {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    grid-gap: 5px;
}

.sheet.actor.monster .header .size > div,
.sheet.actor.monster .header .size > div > div.form-group {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.sheet.actor.monster .header .size > div .label,
.sheet.actor.monster .header .size > div > div.form-group label {
    text-align: right;
}

.sheet.actor.monster .header .size input {
    width: 100%;
}
/* Header Size 
.sheet.actor.monster .header .size .size .value {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 5px;
}
.sheet.actor.monster .header .size .size .value input {
    width: 100%;
    text-align: center;
}

.sheet.actor.monster .header .size .size .width input {
    width: 100%;
}

.sheet.actor.monster .header .size .size .value .separator {
    text-align: center;
}

.sheet.actor.monster .monster-body .monster-skills {
    margin: 5px 0px;
}

.sheet.actor.monster .monster-body .monster-skills .edit-skills:hover i {
    animation: var(--icon-rotation);
}

.sheet.actor.monster .monster-body .monster-skills .skill-label {
    display: inline-block;
    margin-left: 5px;
}

.sheet.actor.monster .tab {
    grid-row: 5 / 11;
    max-height: 550px;
}*/
