.sheet.actor.monster .window-content {
    display: grid;
    grid-template-rows: auto auto auto auto repeat(6, 1fr);
    grid-gap: 10px;
}

/* Header */
/* Header - General Styles */
.sheet.actor.monster .header .property {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    grid-gap: 5px;
}

.sheet.actor.monster .header input,
.sheet.actor.monster .header .grapple-tn {
    text-align: center;
}

.sheet.actor.monster .header .name,
.sheet.actor.monster .header .role-and-level {
    margin-bottom: 5px;
}

.sheet.actor.monster .header .property .label {
    text-align: right;
}

/* Actor Basics */
.sheet.actor.monster .header .actor-basics {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 5px;
}

.sheet.actor.monster .header .actor-basics .name {
    align-self: center;
}

.sheet.actor.monster .header .actor-basics .name input {
    height: 50px;
    font-weight: bold;
    font-size: 2rem;
}

/* Header Role and Level */
.sheet.actor.monster .header .role-and-level {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 5px;
    align-items: center;
}

.sheet.actor.monster .header .role-and-level .level .value {
    width: 50px;
    text-align: center;
}

/* Header Health and Size */
.sheet.actor.monster .header .health-size {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    grid-gap: 5px;
}

/* Header Health */
.sheet.actor.monster .header .health {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 5px;
}

.sheet.actor.monster .header .health .current-health,
.sheet.actor.monster .header .health .max-health {
    display: grid;
    grid-template-rows: auto 1fr;
}

.sheet.actor.monster .header .health .current-health input {
    height: 100%;
    font-size: 4rem;
}

.sheet.actor.monster .header .health .current-health > div {
    height: 100%;
}

.sheet.actor.monster .header .health .other-health {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

.sheet.actor.monster .header .health .other-health .bloodied .bloodied-icon {
    color: rgb(157, 0, 0);
}

.sheet.actor.monster .header .health .other-health .bloodied .bloodied-value {
    font-size: 3rem;
}

/* Header Size */
.sheet.actor.monster .header .size {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.sheet.actor.monster .header .size > div,
.sheet.actor.monster .header .size > div > div.form-group {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.sheet.actor.monster .header .size > div .label,
.sheet.actor.monster .header .size > div > div.form-group label {
    text-align: right;
}

.sheet.actor.monster .header .size input {
    width: 100%;
}
/* Header Size */
.sheet.actor.monster .header .size .size .value {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 5px;
}
.sheet.actor.monster .header .size .size .value input {
    width: 100%;
    text-align: center;
}

.sheet.actor.monster .header .size .size .width input {
    width: 100%;
}

.sheet.actor.monster .header .size .size .value .separator {
    text-align: center;
}

/* Header Grapple/Knockback TN */

.sheet.actor.monster .header .size .grapple-tn .label {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 2px;
}
.sheet.actor.monster .header .size .grapple-tn .value {
    align-self: center;
}

.sheet.actor.monster .monster-body .monster-skills {
    margin: 5px 0px;
}

.sheet.actor.monster .monster-body .monster-skills .edit-skills:hover i {
    animation: var(--icon-rotation);
}

.sheet.actor.monster .monster-body .monster-skills .skill-label {
    display: inline-block;
    margin-left: 5px;
}

.sheet.actor.monster .tab {
    grid-row: 5 / 11;
}
