<div class='characteristic-select roll-dialog-section'>
    Characteristic Select
    <select name='characteristic' id='characteristic-select'>
        {{selectOptions characteristics selected=context.characteristic labelAttr='label' localize=true}}
    </select>
</div>