<div class='skill-buttons'>
    <button class='add-skill' data-action='addSkill' data-skill='craft' type='button'>
        <i class='fa-solid fa-plus'></i>
        {{localize 'system.skills.craft.label'}}
    </button>
    <button class='add-skill' data-skill='knowledge' type='button'>
        <i class='fa-solid fa-plus'></i>
        {{localize 'system.skills.knowledge.label'}}
    </button>
</div>