.sheet.item.class .class-name {
    margin-bottom: 5px;
    text-align: center;
}
.sheet.item.class .class-resources {
    margin-bottom: 5px;
}

.sheet.item.class .class-resource {
    display: grid;
    grid-template-columns: auto 1fr 20px;
    grid-gap: 5px;
    margin-bottom: 5px;
}

.sheet.item.class .class-resource .resource-trait {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
    align-items: center;
}

.sheet.item.class .class-resource-list,
.sheet.item.class .class-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.sheet.item.class .class-description .editor {
    height: 400px;
}
.sheet.item.class .class-victory-benefits .editor,
.sheet.item.class .class-resource-gain .editor {
    height: 200px;
}
