<div class='header'>
    <div class='ability-img'>
        <img src='{{item.img}}' data-tooltip='{{item.name}}' data-edit='img' />
    </div>
    <div class='ability-name'>
        {{formInput item.schema.fields.name value=item.name}}
    </div>
</div>