@import url('./class-sheet.css');
@import url('./ability-sheet.css');
@import url('./culture-sheet.css');
@import url('./career-sheet.css');
@import url('./kit-sheet.css');

.sheet.item.system:is(.ability, .ancestry, .kit) fieldset > div:not(.editor, .power-tiers, .granted-from, .items) {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}

.sheet.system.item div.header {
    display: grid;
    --header-size: 75px;
    height: var(--header-size);
    grid-template-columns: var(--header-size) 1fr;
    align-items: center;
    grid-gap: 5px;

    .item-img img {
        height: var(--header-size);
        width: var(--header-size);
    }
}

.sheet.item:is(.ability, .ancestry, .kit, .class) fieldset label {
    text-align: right;
}

.sheet.item:is(.ability, .ancestry, .kit, .class) .rules .rule {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 20px;

    grid-gap: 5px;
    align-items: center;
}
.sheet.item:is(.ability, .ancestry, .kit, .class) .rules .rule:not(:last-child) {
    margin-bottom: 10px;
}

.sheet.item:is(.ability, .ancestry, .kit, .class) .rules .rule .rule-predicate {
    grid-column: 1 / -1;
}
