@import url('./class-sheet.css');
@import url('./ability-sheet.css');
@import url('./culture-sheet.css');
@import url('./career-sheet.css');
@import url('./kit-sheet.css');

.sheet.system.item {
    div.header {
        display: grid;
        --header-size: 75px;
        height: var(--header-size);
        grid-template-columns: var(--header-size) 1fr;
        align-items: center;
        grid-gap: 5px;

        .item-img img {
            height: var(--header-size);
            width: var(--header-size);
        }
    }

    .granted-items-tab {
        .granted-items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 5px;

            .granted-item {
                display: grid;
                grid-template-columns: 1fr auto;
                .name {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        .item-drop {
            padding-top: 10px;
        }
    }

    .item-effects-tab {
        .add-effect {
            padding: 5px;
            font-weight: bold;
            cursor: pointer;
        }
        .item-effects {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 5px;

            .item-effect {
                display: grid;
                grid-template-columns: 1fr var(--icon-grid-size) var(--icon-grid-size);
                grid-gap: 5px;
            }
        }
    }
}
