.sheet.item.ability .keywords multi-checkbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.sheet.item.ability .keywords .ability-value input:nth-child(1) {
    margin-left: 0px;
}

.sheet.item.ability .effect .editor {
    height: 300px;
}
