.sheet.item.class fieldset {
    margin-bottom: 5px;
}

.sheet.item.class .class-resource-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: var(--grid-gap);
}

.sheet.item.class .class-resource {
    display: grid;
    grid-template-columns: 1fr 1fr 20px;
    grid-gap: var(--grid-gap);
}

.sheet.item.class .class-resource :is(.resource-name, .resource-max) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--grid-gap);
}

.sheet.item.class .class-resource .delete-class-resource {
    justify-self: center;
    align-self: center;
}

.sheet.item.class .class-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--grid-gap);
    min-height: 500px;
}

.sheet.item.class .class-details,
.sheet.item.class .class-details fieldset,
.sheet.item.class .class-details .class-description,
.sheet.item.class .class-details fieldset prose-mirror {
    height: 100%;
}

.sheet.item.class .class-details .class-right-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: var(--grid-gap);
}
