.mcdmrpg-header,
.mcdmrpg-subheader {
    padding: 5px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.mcdmrpg-header {
    clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(10px 0, calc(100%-10px) 0, 100% 100%, 0% 100%);
}

.mcdmrpg-container {
    border: 1px solid black;
}

.content-body .skills,
.content-body .tabbed-content {
    height: 750px;
}
.content-body .skills .skill-list,
.content-body .tabbed-content {
    overflow-y: scroll;
}

a.roll-link {
    display: inline-block;
}
