.roll-dialog .characteristic-select {
    margin-bottom: 10px;
}

.roll-dialog .dice-adjustment {
    text-align: center;
    padding: 10px;
}

.roll-dialog .dice-adjustment:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.roll-dialog div.edges-banes-impacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-gap: 10px;
}

.roll-dialog div.edges,
.roll-dialog div.banes,
.roll-dialog div.impacts {
    width: 100%;
}

.roll-dialog div.edges-banes-impacts > div > :nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.roll-dialog div.adjust-dice {
    cursor: pointer;
}

.roll-dialog div.add-dice:hover {
    color: green;
}

.roll-dialog div.subtract-dice:hover {
    color: red;
}

.roll-dialog div.roll-button {
    margin-top: 5px;
    width: 100%;
    position: relative;
}

.roll-dialog .dice-adjustment .roll-button.rolled::after {
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    color: rgb(0, 249, 0);
}

.roll-dialog .adjust-dice.hidden-visibility {
    visibility: hidden;
}
