.roll-dialog div.boons-and-banes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-gap: 10px;
}

.roll-dialog div.boons,
.roll-dialog div.banes {
    width: 100%;
    text-align: center;
}

.roll-dialog div.boons > :nth-child(2),
.roll-dialog div.banes > :nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.roll-dialog div.add-d4:hover {
    cursor: pointer;
    color: green;
}

.roll-dialog div.subtract-d4:hover {
    cursor: pointer;
    color: red;
}

.roll-dialog button.roll-button {
    width: 100%;
}
