@import url('global.css');
@import url('roll-dialog.css');
@import url('condition-configs/taunted.css');

/* Actor Imports */
@import url('actors/base/base-sheet.css');
@import url('actors/hero/hero-sheet.css');
@import url('actors/monster/monster-sheet.css');

/* Item Imports */
@import url('items/_items.css');

/* Chat Imports */
@import url('chat/_chat.css');

@import url('combat/combat-tracker.css');

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
:root {
    --delete-color: red;
    --add-color: green;
    --grid-gap: 5px;
    --alternating-bg-color: rgba(255, 255, 255, 0.02);
    --icon-rotation: rotate 2s linear infinite;
}
