.combat-sidebar.draw-steel .combatant.turn-completed {
    opacity: 50%;
}

.combat-sidebar.draw-steel .draw-steel-header {
    margin: 0px;
}

.combat-sidebar.draw-steel .combat-side:is(:first-child) {
    margin-bottom: 5px;
}

.combat-sidebar.draw-steel .token-turns {
    line-height: normal;
}
